/*FONDOS*/
body {
  background-color: hsl(150, 60%, 12%);
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  background-color: hsl(40, 30%, 94%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 75rem;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

#content {
  padding: 2.5rem;
}

/*CLASES*/
.TituloPrincipal {
  color: hsl(150, 60%, 20%);
  font-size: 3.125rem;
  position: sticky;
  top: 0;
  z-index: 99999;
  box-shadow: 0 0.25rem 0.375rem -0.125rem rgba(0, 0, 0, 0.1);
  background: hsl(40, 30%, 94%);
  padding: 1.56rem 3.125rem;
}

.TituloPrincipal em small {
  color: hsl(28, 25%, 40%);
}

.TextPrincipal {
  font-size: 1.25rem;
  margin-top: 1.25rem;
  max-width: 50rem;
}

.ArticuloH2 h2 {
  color: hsl(100, 50%, 30%);
  margin-top: 3.125rem;
  font-size: 1.875rem;
}

.lista1 {
  font-size: 1rem;
  margin-top: 0.31rem;
}

.link1 {
  color: hsl(160, 100%, 25%);
  font-size: 1.25rem;
}

.link1:hover {
  color: hsl(160, 96%, 11%);
}

.link1:active {
  color: hsl(0, 0%, 0%);
}

.link2 {
  color: hsl(160, 100%, 25%);
  font-weight: bold;
}

.link2:hover {
  color: hsl(161, 100%, 10%);
}

.PreguntasFrecuentes h3 {
  color: hsl(150, 31%, 30%);
  font-size: 1.375rem;
  margin-top: 3.125rem;
}

.PreguntasFrecuentes summary {
  font-size: 1rem;
  color: hsl(150, 31%, 40%);
  margin-top: 0.625rem;
}

.PreguntasFrecuentes p {
  font-size: 1rem;
  color: hsl(198, 13%, 26%);
  max-width: 43.75rem;
}

.PreguntasFrecuentes strong {
  color: hsl(150, 31%, 40%);
}

.FormularioC {
  margin-top: 5%;
  padding-left: 12.5%;
  min-height: 100vh;
  box-sizing: border-box;
  color: hsl(200, 12%, 20%);
  background: hsl(0, 0%, 76%);
  display: flex;
  flex-flow: column;
  align-content: center;
}

.FormularioC h3 {
  color: hsl(35, 50%, 35%);
  margin-top: 1.875rem;
}

.FormularioC button,
select {
  margin-top: 0.625rem;
  color: inherit;
}

#facto {
  accent-color: hsl(150, 60%, 20%);
  cursor: pointer;
}

.galeria-imagenes {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  justify-content: flex-start;
  margin-top: 1.875rem;
  margin-left: 1.56rem;
}

.imagen {
  width: 30%;
}

#despedida {
  margin-top: 1.875rem;
}

/*ELEMENTOS*/

h4 {
  color: hsl(35, 50%, 35%);
}


strong {
  color: hsl(150, 60%, 20%);
}


p {
  color: hsl(203, 13%, 12%);
  font-size: 1.125rem;
  max-width: 62.5rem;
}


fieldset {
  width: 95%;
  margin-top: 0.625rem;
}